################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Build
/Demo/Build
.vs
/Deps/DirectX
/Deps/cppwinrt
/Deps/cppwinrt
/Deps/FreetypeLib

*.obj
*.idb
*.pdb
*.opendb
*.db
*.png
*.jpg
*.mtl
*.tlog
*.log
*.xml
/Samples/Assets/Common/Models/CrytekSponza
/Bin/DebugX86
/Samples/Assets/Common/Sounds/Faded.mp3
/Samples/Assets/Common/Sounds
*.user
*.filters

!logo.png
/Bin
*.enc
/External/CmakeProjects
/External/CmakeProjects
/Samples/Assets/Common/Models/CrytekCyborg
