[submodule "External/Diligent"]
	path = External/Diligent
	url = https://github.com/DiligentGraphics/DiligentCore
[submodule "External/GLFW"]
	path = External/GLFW
	url = https://github.com/glfw/glfw
[submodule "External/Assimp"]
	path = External/Assimp
	url = https://github.com/assimp/assimp
